@import './mixin'

.projects
    @include flex(flex-start, center, column)
    background: #222222
    color: white
    padding: 30px
    .projects_list
        width: 100%
        @include flex(flex-start, center, column)
        .project
            margin: 30px 0
            width: 100%
            height: max-content
            @include flex(flex-start, center)
            position: relative
            &::before
                content:''
                width: 400px
                height: 400px
                position: absolute
                top: 0
                right: 0
                box-shadow: 32px -32px 34px -20px rgba(0,0,0,0.7)
            &.reverse
                flex-direction: row-reverse
                &::before
                    content:''
                    width: 400px
                    height: 400px
                    position: absolute
                    top: 0
                    left: 0
                    box-shadow: -32px -32px 34px -20px rgba(0,0,0,0.7)
                .info
                    @include flex(space-between, flex-end, column)
                    .header
                        @include flex(flex-start, flex-start, column)
                    a
                        left: -50%
                        transform: translateX(50%)
                    .technologies
                        @include flex(flex-start, flex-start, column)
            .image
                flex: 55
                height: 650px
                background-position: center
                background-repeat: no-repeat
                background-size: cover
            .info
                flex: 45
                height: 650px
                @include flex(space-between, flex-start, column)
                .header
                    @include flex(flex-start, flex-end, column)
                    width: max-content
                    h3.subtitle
                        background: black
                        color: white
                        padding: 5px
                        border: 1px solid white
                    p
                        padding: 5px
                        background: white
                        color: black
                a
                    position: relative
                    left: 50%
                    transform: translateX(-50%)
                    color: black
                    background: white
                    box-shadow: 0 0 2px 4px #a09d9d9c
                    border-radius: 5px
                    padding: 5px
                .technologies
                    width: 100%
                    padding: 0
                    @include flex(flex-start, flex-end, column)
                    p
                        background: black
                        color: white
                        padding: 5px
                        border: 1px solid white
                    .technologies_list
                        width: 100%
                        @include flex(space-evenly, center)
                        .one_tech
                            flex: 1
                            @include flex(center, center)
                            padding: 30px 0
                            margin: 1px
                            border: 1px solid white
                            &.HTML
                                background: rgba(241, 102, 42, 1)
                                color: white
                            &.CSS
                                color: white
                                background: rgba(28, 126, 190, 1)
                            &.SASS
                                color: white
                                background: rgba(205, 103, 153, 1)
                            &.JS
                                color: black
                                background: rgba(247, 223, 30, 1)

@media ( max-width: 1700px )
    .projects .projects_list .project
        &::before, &.reverse::before
            width: 300px
            height: 300px
        .image, .info
            height: 500px

@media ( max-width: 1350px )
    .projects .projects_list .project
        &::before, &.reverse::before
            width: 250px
            height: 250px
        .image, .info
            height: 450px
        .image
            flex: 60
        .info
            flex: 40

@media ( max-width: 1100px )
    .projects .projects_list .project
        &::before, &.reverse::before
            width: 200px
            height: 200px
        .image, .info
            height: 370px

@media ( max-width: 930px )
    .projects .projects_list .project
        .image, .info
            height: 320px

@media ( max-width: 800px )
    .projects .projects_list .project
        &::before, &.reverse::before
            width: 0px
            height: 0px
        height: 320px
        &.reverse .info .header
            @include flex(flex-start, flex-end, column)
        .image
            position: absolute
            height: 100%
            width: 100%
            top: 0
            left: 0
            z-index: 1
        .info
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            z-index: 2
            &::before
                content: ''
                transition: 0.5s
                position: absolute
                z-index: 3
                height: 100%
                width: 100%
                background: #33333300
            .header
                @include flex(flex-start, flex-start, column)
            .technologies
                background: none
                .technologies_list .one_tech
                    padding: 15px 0
            a
                transition: 0.5s
                opacity: 0
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
            &:hover
                &::before
                    content: ''
                    position: absolute
                    z-index: 1
                    height: 100%
                    width: 100%
                    background: #000000a1
                a
                    opacity: 1
                    z-index: 2

@media ( max-width: 500px )
    .projects .projects_list .project
        height: 270px

@media ( max-width: 400px )
    .projects .projects_list .project
        height: 220px
        .info 
            .header
                h3.subtitle, p
                    padding: 3px
            .technologies .technologies_list .one_tech
                padding: 10px 0