@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
	scroll-behavior: smooth !important;
}

body * {
	transition: all 0.3s linear;
	-webkit-tap-highlight-color: transparent;
}

.projectSwiper * {
	transition-duration: initial;

	a,
	button {
		transition: all 0.2s ease-in-out;
	}
}

.transition-default {
	transition: all 0.15s linear;
}

.scroll-animation {
	animation: scroll-animation 1s ease-in-out forwards;
}

@keyframes scroll-animation {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}