@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
	scroll-behavior: smooth !important;
}

body * {
	transition: all 0.3s linear;
	-webkit-tap-highlight-color: transparent;
}

.projectSwiper * {
	transition-duration: initial;

	a,
	button {
		transition: all 0.2s ease-in-out;
	}
}

.more-info {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #B2B1B1 #EAE9E9;

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.transition-default {
	transition: all 0.15s linear;
}

.scroll-animation {
	animation: scroll-animation 1s ease-in-out forwards;
}

@keyframes scroll-animation {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}